# Dependencies
node_modules

# Build output
dist
dist-ssr
.vite
storybook-static

# Test
coverage

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.local
